body{
    font-family: 'Nova Square', cursive;
    font-size: 16px;
}
.small-text{
    font-size: 12px;
}
.down-icon a{
    font-size: 300%;
    color: #2196f3;
    text-decoration: none;
}
.down-button{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.fill-screen{
    padding-top:50px;
    background-size: cover;
    background-position: center;  
}
.fixed-attachment{
    background-attachment: fixed;
}
.logo{
    padding: 5px 5px 5px 15px;
    margin-top: 10px;
}
.logo >a:hover{
    text-decoration: none;
}
.navbar{
    margin-bottom: 0px;
}
.brand-logo {
    margin-bottom: 0px;
    padding: 0px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 1);
}
.title-row{
    position: relative;
    min-height: 300px;
}
.title{
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
}
.first-name{
    margin-top: 150px;
    color: white;
    font-size: 300%;
}
.sec-header{
    padding-top: 50px;
    text-align: center;
}
.table-custom{
    font-size: 100%;
}
.table-custom dt{
    text-align: left;
    font-weight: bold;
}
.table-custom dd{
    text-align: left;
}
.social a{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    color: black;
    border:1px solid black; 
}
.activity-elements{
    text-align: center;
}
.card-container{
    perspective: 700px;
    -webkit-perspective: 700px;
}
.card h4{
    margin: 0;
    color: #fff;
}
.card {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 250px;
    margin: 10px;
    width: 250px;
    height: 250px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }
.front, .back{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
}
.front{
    background: #2196f3;
}
.back{
    background: #b1c4d4;
    transform: rotateY(180deg);

}
.card:hover{
    transform: rotateY(180deg);
}
article#skill-progress{
    padding: 3px 10px 0;
}
div.progress{
    font-weight: bold;
    color: white;
    background-color: #f3f3f3;
    border: none;
    box-shadow: none;
    height: 1.5em;
}
div.progress-bar > span{
    float: left;
    position: relative;
    top: 4px;
    left: 2%;
}
.progress-bar{
    font-size: 100;
}
.skill-level{
    font-size: 80%;
    color: #0fff04;
    padding-right: 2%;
}
.skill-cards{
    margin-top: 10px;
}
.skill-tech{
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}
.text-banner{
    text-align: center;
    margin: 30px 20px;
}
.box{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 0 4px 0 rgba(0, 0,0,0.14);
    box-sizing: border-box;
    max-width: 320px;
    padding: 30px;
    margin: 30px;
}
.box-slim{
    padding: 40px;
    max-width: 350px;
}
.my-work{
    margin-bottom: 50px;
}
.portfolio-section{
    margin-bottom: 50px;
}
h3 > span, .nav a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  h3 > span:hover, .nav a:hover {
    color: #000;
  }
  
  h3 > span:before, .nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  h3 > span:hover:before, .nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
@media (max-width: 788px) {
    .fixed-attachment {
      background-attachment: scroll;
    }
  
    .sec-header > h3 {
      border-top: 1px solid lightgray;
      padding-top: 15px;
    }
  }
